demo/
node_modules/
public/images/*
!public/images/Animal_Crossing_New_Horizons.jpg
!public/images/Battlefield-5-ps4.jpg
!public/images/Cyberpunk_2077.jpg
!public/images/FIFA_21_Standard_Edition_Cover.jpg
!public/images/Ghost_of_Tsushima.jpg
!public/images/The-Witcher-3.webp
!public/images/The_Legend_of_Zelda_Breath_of_the_Wild.jpg
!public/images/Valorant_cover.jpg
!public/images/ac_odyssey.jpg
!public/images/apex_legend.jpg
!public/images/cod_wz.jpg
!public/images/dbd.jpg
!public/images/fall_guys_ultimate_knockout.jpg
!public/images/ff7_remake.jpg
!public/images/fortnite.jpg
!public/images/gow.jpg
!public/images/horizon_zero_zero_dawn.jpg
!public/images/lol.jpg
!public/images/minecraft.jpg
!public/images/overwatch.jpg
!public/images/rdr2.jpg
!public/images/re2_remake.jpg
!public/images/seriko_shadow_die_twice.webp
!public/images/skyrim.jpg
!public/images/spiderman.jpg
!public/images/super_mario_odyssey.jpg
!public/images/swj_fallen_order.jpg
!public/images/the_last_of_us_2.jpg
!public/images/the_sims_4.jpg
!public/images/tomb_raider.jpg
